button {
    padding: 10px 50px;
    background-color: rgb(0, 149, 255);
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

h1 {
    font-family: sans-serif;
}